@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;


<h1>Magic Collection</h1>
<h2>All cards</h2>


<div class="grid-container">
    <div></div>
    <div>
        @foreach(string img in @Model)
        {
            <div class="draggable">
                <img src="@img"/>
            </div>
        }
    </div>
    <div></div>
</div>