@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;

<div class="grid-container">

    <div>
        <h1>Magic Collection</h1>
    </div>
    <div>
        @if(@ViewBag.Results["images"].Count == 0)
        {
            <h2>Sorry, I have nothing to show you</h2>
        }
    </div>
    <div>
        @if(@ViewBag.Results["images"].Count > 0)
        {
            @foreach(string img in @ViewBag.Results["images"])
            {
                <img class="draggable card" src="@img"/> 
            }
        }
    </div>
    <div>
        <img class="droppable" src="~/img/deck.png">
    </div>
    <div>
        @for(int i = 0; i<@ViewBag.Results["totalPages"]; i++)
        {
            <form action="/cards/search" method="post">
                <button type="submit"> </button>
            </form>
        }
    </div>
</div>