@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;

<h1>Magic Collection</h1>

<div class="grid-container">

@foreach(string img in @Model)
{
    <img src="@img"/>
}

</div>