@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;

<div class="grid-container">

    <div>
        <h1>Magic Collection</h1>
    </div>
    <div>
        @if(@Model.Count == 0)
        {
            <h2>Sorry, I have nothing to show you</h2>
        }
    </div>
    <div>
        @if(@Model.Count > 0)
        {
            @foreach(string img in @Model)
            {
                <img class="draggable card" src="@img"/> 
            }
        }
    </div>
    <div>
        <img class="droppable" src="~/img/deck.png">
    </div>
</div>