@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script type="text/javascript" src="~/js/jquery-3.4.1.js"></script>
    @* <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> *@
    <script type="text/javascript" src="~/js/scripts.js"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Magic Collection</title>
    <link rel="shortcut icon" href="~/img/fire.ico" type="image/x-icon">
</head>
<header>
  <div class"container">
    <div class="jumbotron">
      <video autoplay="autoplay" muted="muted" loop style="width: 100%; height: 800px;">
        <source src="../video/videoGirl.mp4" type="video/mp4">
          <img src="../img/witch.jpg" alt>
      </video>
      <img src="~/img/title.png" id="title" alt="title">
    </div>
  </div>
</header>
<body>
  <div class="container">
    <div class="box">
    </div>
  </div>
<div class="container">
  <div class="row pt-1 pb-1">
      <div class="col-lg-12">
  </div>
</div>
<section>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="~/img/demon.jpeg" id="demon" class="d-block w-100" alt="demon">
          </div>
      </div>
  </div>
</section>
<section class="search-sec">
  <div class="container">
    <form action="/cards/search" method="post">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
              <select class="form-control search-slt" id="column" name="column">
                  <option value="selection">Select</option>
                  <option value="name">Name</option>
                  <option value="colors">Color</option>
                  <option value="type">Type</option>
                  <option value="text">Text</option>
                  <option value="flavor">Flavor</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                <input type="text" class="form-control search-slt" name="search" size="20px" placeholder="Search..."required autocomplete="off"/>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                <button type="submit" class="btn btn danger wrn-btn">Search</button>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</section>
</body>
<footer>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-footer">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/cards">All Cards</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/sets">Sets<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/sets">All Sets</a></li>
            <li><a href="#">Page 1-2</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
</footer>
</html>
