@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;


<h1>Magic Collection</h1>

<div>
    <form action="/cards/search" method="post">
        <label for="name">Search by name:</label><br>
        <input type="text" name="name" required autocomplete="off"/>
    </form>
</div>

<div>
    <a href="/cards">All cards</a>(warning: load times may crash your browser)<br>
    <a href="/sets">Sets</a>
</div>