@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;


<h1>Magic Collection</h1>


<div class="grid-container">
    <div>
        <form action="/cards/search" method="post">
            <label for="search">Search by name:</label><br>
            <input type="text" name="search" required autocomplete="off"/>
            <input hidden name="column" value="name">
            <button type="submit">Search</button>
        </form>
    </div>

    <div>
        <a href="/cards">All cards</a>(warning: load times may crash your browser)<br>
        <a href="/sets">Sets</a>
    </div>
</div>