@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;


<h1>Magic Collection</h1>


<div class="grid-container">
    <div>
      <h2>Search by
        <form action="/cards/search" method="post">
          <input list="columns" name="column">
          <datalist id="columns">
            <option value="name">
            <option value="color">
            <option value="power">
            <option value="toughness">
            <option value="rarity">
          </datalist></h2>
          <label for="search"></label><br>
          <input type="text" name="search" required autocomplete="off"/>
            <input type="Submit"></button>
        </form>
    </div>

    <div>
        <a href="/cards">All cards</a>(warning: load times may crash your browser)<br>
        <a href="/sets">Sets</a>
    </div>
</div>
