@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;



<div class="grid-container">
    <h1>All Sets</h1>
    <div>
        @foreach(string set in @Model)
        {
            <a href="/sets/@set">@set</a><br>
        }
    </div>
</div>