@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;


<div class="collection-icon">
    <h4> Add to Collection</h4>
    <form action="/cards/collection/add" method="post" id="collectionForm">
        <img class="droppable" src="~/img/deck.png">
        <input hidden id="collectionValue" name="url" value="">
    </form>
</div>
<div class="grid-container">
    <div>
        <h1>@ViewBag.SetName</h1>
    </div>
    <div>
        @if(@Model.Count == 0)
        {
            <h1>I'm sorry, I have nothing to show you</h1>
        }
    </div>

    <div>
        @if(@Model.Count > 0)
        {
            @foreach(string img in @Model)
            {                
                <img class="draggable card" src="@img"/>
            }
        }
    
    </div>

</div>